bin/
obj/
publish/
.vs/
.nuget/
*.user
*.suo
*.pdb
*.nupkg
*.snupkg
NuGet.local.config
/AstroManager.Contracts/artifacts/verify
/AstroManager.PluginShared/artifacts/verify/webapi-obj
/AstroManager.PluginShared/artifacts/verify/ui-obj
